<html lang="en">
<%- include("./partials/head.ejs") %>
    <body>
         
            <%- include("./partials/nav.ejs") %>
       <div class="container">
        <div class="about content">
            <h2 class="about">About us</h2>
            <div class="card-deck about-us">
                  <div class="card piyush">
                  <img class="card-img-top" src="/images/piyush.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <h5 class="card-title">Piyush Sarkar</h5>
                    <p class="card-text">
                      Full Stack Web Developer
                      Specialized in JS, React, Php, Laravel, JS. 
                  </div>
                 </div>

                 <div class="card me">
                    <img class="card-img-top" src="/images/me.jpg" alt="Card image cap" />
                    <div class="card-body">
                      <h5 class="card-title">Ashish Kandpal</h5>
                      <p class="card-text">
                        Web Dev 
                    </div>
                   </div>
            </div>
        </div>
    </div>
        
    <%- include("./partials/footer.ejs") %>
    </body>

</html>